@charset "UTF-8";

.write-div{
	margin: 0 auto;
	width: 800px;
	height: auto;
	background-color: #94a9ff;
	padding: 10px;
}

.write-div input{ /* 제목 */
	margin:0; padding: 0;
	width: 100%;
	height: 30px;
}

.write-div textarea{ /*글을 직접 쓰는 곳 */

	
}

.btn100{
	margin-top: -30px;
	width: 100%;
	height: 30px;
}







