<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board"> <!--Map에 들어갔기에 맵이라고 적어줌  -->
	<select id="boardList"  resultType="Map"> 
		SELECT * FROM board ORDER BY bno DESC LIMIT 10 
	</select>

	<!--#{변수명}을 적어주면 변수가 들어가요  -->
	<select id="detail" parameterType="Integer" resultType="boardDTO"> <!-- com.gyu.pro1.BoardDTO .. 이렇게 써야했음 config에서 바꿔줌--> <!-- 7월 20일 파라미터 타입 integer로 바꿔주었음 -->
		SELECT * FROM board WHERE bno=#{bno} 

	</select>	
	
	<insert id="write" parameterType="boardDTO">
		INSERT INTO board(btitle, bcontent, bwrite, bip)
		VALUES (#{btitle}, #{bcontent}, #{bwrite}, #{bip})
	</insert>

	<delete id="delete" parameterType="boardDTO">
		DELETE FROM board WHERE bno=#{bno}
	
	</delete>	

	<update id="edit" parameterType="boardDTO">
		UPDATE board SET btitle=#{btitle}, bcontent=#{bcontent}
		WHERE bno=#{bno}
	</update>
	
	
</mapper>